<h2 class="screen-align">Newtemp</h2>
<form id="template-i9qj" class="form gp-form-control">
    <div id="template-iv1t" class="form-group">
        <label id="template-i1ni" class="label">Name</label>
        <input placeholder="Type here your name" id="template-iem9"
        [(ngModel)]="sample.Enter_Name" [ngModelOptions]="{standalone: true}" class="input gp-input-text"
        />
    </div>
    <div id="template-ixtkj" class="form-group">
        <button type="submit" id="template-i4ojj" (click)="GpCreate()" class="button">Send</button>
    </div>
</form>